{% extends 'sensores/base.html' %}

{%block title%} Histórico - Sensores {% endblock %}

{% block content %}

    <h2>Histórico</h2>

    <h3>DHT 11</h3>
    {% for dht11 in dht11s %}
        <article>
            
            <h4> Temperatura: {{ dht11.temperatura }}ºC </h4>
            <h4> Umidade: {{ dht11.umidade }}% </h4>
            
            <p class="date">
                Data da medição {{ dht11.created_at }}
            </p>

            <hr>
        </article>
    {% endfor %}

    <h3>BMP 280</h3>
    {% for bmp280 in bmp280s %}
        <article>
            
            <h4> Temperatura: {{ bmp280.temperatura }}ºC </h4>
            <h4> Pressao: {{ bmp280.pressao }}hPa </h4>
            
            <p class="date">
                Data da medição {{ bmp280.created_at }}
            </p>

            <hr>

        </article>
    {% endfor %}

{% endblock %}